* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #7c3aed;
}

a {
  text-decoration: none;
}

#app {
  display: grid;
  grid-template-columns: max-content 1fr;
  min-height: 100vh;
}

main .inner {
  height: 100%;
  background-color: #fbfaff;
  border-top-left-radius: 32px;
}

main {
  padding-top: 0.8rem;
}

nav {
  padding: 3.2rem 2.7rem 0 3.5rem;
  min-width: 11.5rem;
}

ul {
  margin-top: 6rem;
  list-style: none;
  display: grid;
  gap: 3.6rem;
}
